# Git
.git
.gitignore

# Node (if any)
node_modules
npm-debug.log

# Logs
*.log

# OS files
.DS_Store

# IDE
.vscode
.idea

# Docker
Dockerfile
docker-compose.yml

# Docs / unnecessary
README.md

# Temp files
tmp
temp